@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');
/*
=============== 
Variables
===============
*/

:root{
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-white: #ffffff;
    --crl-black: #000000;
    --clr-yellow: #ffc907;
    --clr-ligth-blue: #02b9fd;
    --clr-dark-blue: #02519c;
    /* dark shades of primary color*/
    --clr-primary-2: hsl(185, 84%, 25%);
    --clr-primary-5: #2caeba;
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --spacing: 0.2rem;
    --transition: all 0.3s linear;
    --radius: 0.25rem;
    --max-width: 1170px;
    --fixed-width: 700px;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --whatsapp: #25d366;  
}
/*
  =============== 
  Global Styles
  ===============
  */

html{
  scroll-behavior: smooth;
}

*,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: var(--ff-secondary);
    background-color: var(--clr-white);
    color: var(--clr-grey-1);
    overflow-x: hidden;
  }

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4 {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
  }

  h1{
    font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }

  h3{
    font-size: 1.25rem;
  }

  h4{
    font-size: 0.875rem;
  }

  p{
    margin-bottom: 1.25rem;
  }

  @media screen and (min-width: 800px){
    h1{
      font-size: 4rem;
    }
    h2{
      font-size: 2.5rem;
    }
    h3{
      font-size: 1.75rem;
    }
    h4{
      font-size: 1rem;
    }
    body{
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4{
      line-height: 1;
    }
  }

  /*  global classes */
  
  .btn{
    text-transform: uppercase;
    background-color: var(--clr-ligth-blue);
    color:var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.85rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
  }

  .btn:hover{
    color: var(--white);
    background: var(--clr-ligth-blue);
  }

  .center-btn{
    display: block;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
  }

  /* section */
  .section {
    padding: 5rem 0;
  }

  .section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
    /* added during recording */
    .underline {
      width: 5rem;
      height: 0.25rem;
      margin-bottom: 1.25rem;
      background: var(--clr-yellow);
      margin-left: auto;
      margin-right: auto;
    }
    .section-title {
      margin-bottom: 4rem;
      text-align: center;
    }
    .bg-grey {
      background: var(--clr-grey-10);
    }
    /* page links */
    /* social links */
  .social-links {
    margin-top: 2rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
  }
  .social-link {
    font-size: 2.75rem;
    color: var(--clr-white);
    transition: var(--transition);
  }
  .social-link:hover {
    color: var(--clr-primary-5);
  }
 
/*ANIMATIONS*/

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
} 

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
  }
  @keyframes fadeInLeft {
      0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      }
      100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      }    
   } 
  .fadeIn {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }
  @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }

  .error{
      font-size: 12px;
      color: red;
  }



/*
  =============== 
  Navbar
  ===============
  */

  .navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
    background: var(--clr-white);
  }
  
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    color: var(--crl-black);
    font-size: 1.5rem;
    margin-bottom: .375rem;
    font-weight: 900;
  }

  .toggle-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--crl-black);
    cursor: pointer;
    transition: var(--transition);
  }
  .toggle-btn:hover {
    color: var(--clr-yellow);
  }
  .nav-links {
    display: none;
  }
  

  @media screen and (min-width: 768px){
    .toggle-btn {
      display: none;
    }
    .nav-links {
      display: flex;
      justify-content: flex-end;
    }
    .nav-links li {
      margin-right: 2rem;
    }
    .nav-links a {
      text-transform: capitalize;
      color: var(--crl-black);
      font-weight: bold;
      letter-spacing: var(--spacing);
      transition: var(--transition);
      padding: 0.5rem 0;
    }
    .nav-links a:hover {
      color: var( --clr-ligth-blue);
      box-shadow: 0px 2px var(--clr-yellow);
    }
    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 992px) {
    .navbar {
      background: var(--clr-white);
    }
  }
  /*
  =============== 
  Sidebar
  ===============
  */
  .sidebar {
    background: var(--clr-grey-10);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: var(--transition);
    transform: translateX(-100%);
  }

  .show-sidebar {
    opacity: 1;
    transform: translateX(0);
  }
  .sidebar-links li {
    opacity: 0;
  }
  .sidebar-links li a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-grey-5);
    letter-spacing: var(--spacing);
    margin-bottom: 0.5rem;
    font-size: 2rem;
    transition: var(--transition);
    border-radius: var(--radius);
  }
  .sidebar-links li a:hover {
    background: var(--clr-primary-9);
    color: var(--clr-primary-5);
  }

  .close-btn {
    position: absolute;
    right: 4.75%;
    top: 2.75%;
    font-size: 2.5rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
  }
  @media screen and (min-width: 992px) {
    .sidebar {
      transform: translateX(-100%);
    }
  }

  /*
  =============== 
  Sidebar Animation
  ===============
  */
  .sidebar-icons a{
    color: var(--clr-dark-blue) ;
  }

  .sidebar-links li {
    animation: slideRight 0.5s ease-in-out 0.3s forwards;
  }
  .sidebar-links li:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  .sidebar-links li:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .sidebar-links li:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  .sidebar-links li:nth-of-type(4) {
    animation-delay: 1s;
  }
  .sidebar-links li:nth-of-type(5) {
    animation-delay: 1.25s;
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .sidebar-icons li {
    opacity: 0;
    animation: slideUp 0.5s ease-in-out 0.3s forwards;
  }
  .sidebar-icons li:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  .sidebar-icons li:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .sidebar-icons li:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  .sidebar-icons li:nth-of-type(4) {
    animation-delay: 1s;
  }
  .sidebar-icons li:nth-of-type(5) {
    animation-delay: 1.25s;
  }
  @keyframes slideUp {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*
  =============== 
  Hero
  ===============
  */

  /* underline added to globals */

 .hero{
   margin-top: 3rem;
   padding-top: 5rem;
   height: 100vh;
   position: relative;
   background: url('../assets/saul.jpg');
   background-size: cover;
   background-repeat: no-repeat;
  
}
@media (max-width: 768px){
  .hero{
    background: url('../assets/saulMobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
  .social-links {
    width: 12rem;
  }
  .social-link {
    font-size: 2rem;
  }
}

.hero-center{
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.hero-info{
  grid-row: 1;
  grid-column: 5/span 8;
}

.hero .underline{
  margin-bottom: 0.5rem;
  margin-left: 0;
}



.hero-info h1, h3 {
  color: var(--clr-white);
}

.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero::before {
    
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  

  .hero-info {
    grid-column-start: none;
  }
}

@media screen and (min-width: 1170px) {
  .hero h3 {
    font-size: 1.3rem;
    line-height: 1;
  }
  
}

/*
  =============== 
  Companies
  ===============
  */
.companies-section{
  padding: 2rem 0;
}

.companies__images{
  display: grid;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.companies__images--img{
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


 /*
  =============== 
  Services
  ===============
  */

.service{
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  max-height: 500px;
}

.service h4{
  color: var(--crl-black);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--clr-dark-blue);
}

.designation{
  font-size: 0.7rem;
  font-style: italic;
  color: var(--clr-dark-blue);
  font-weight: 900;
}

.service img {
  width: 60px;
  border-radius: 50px;
  margin-bottom: 10px;
  object-fit: contain;
}

.service .underline{
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service:hover {
  color: var(--clr-primary-9);
  border-bottom: 3px solid  var(--clr-ligth-blue);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.service:hover p {
  color: var(--clr-primary-9);
}

.services-center{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}



/*
  =============== 
  Jobs
  ===============
  */

.jobs-center{
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}

.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 4vw;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding:  0.25rem 0;
  line-height: 1;
}

.job-btn:hover{
  color: (var(--clr-primary-5));
  box-shadow: 0 2px var(--clr-primary-5);
}

.active-btn{
  color: var(--clr-dark-blue);
  box-shadow: 0 2px var(--clr-yellow);
}

.job-info h3{
  font-weight: 600;
  color: var(--swiper-theme-color);
}

.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}

.job-date{
  letter-spacing: var(--spacing);
}

.job-desc{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.jobs-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}

.job-icon {
  color: var(--clr-dark-blue);
}

@media screen and (min-width: 992px){
  .jobs-center{
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column: 4rem;
  }
  .btn-container{
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn{
    margin-bottom: 1rem;
    font-size: 1.5vw;
  }
  .active-btn{
    box-shadow: -2px 0 var(--clr-yellow);
  }
  .job-btn:hover{
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}

 /*
  =============== 
  Projects
  ===============
  */

.projects{
  background-color: var(--clr-grey-10);
}

.project{
  display: grid;
  margin-bottom: 4rem;
}

.project-img{
  border-top-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  height: auto;
  z-index: 1;
  
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
  opacity: 0.5;
  transition: var(--transition);
}

.project:hover .project-img::after {
  opacity: 0;
}

.project-info{
  background: var(--clr-white);
  padding: 1rem 2rem;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.project-info h3 {
  color: var(--clr-dark-blue) ;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.project-desc {
  word-spacing: 15px;
  color: var(--clr-grey-3);
}

.project-stack {
  margin-bottom: 1rem;
}

.project-stack span,
  .about-stack span {
    display: inline-block;
    background: var(--clr-yellow);
    color: var(--clr-grey-1);
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
  }

  .about-stack span {
    margin-top: 0.5rem;
  }
  .project-icon {
    color: var(--clr-primary-5);
    font-size: 1.25rem;
    margin-right: 0.5rem;
    transition: var(--transition);
  }
  .project-icon:hover {
    color: var(--clr-primary-1);
  }

.project-links a{
  color: var(--clr-ligth-blue);
  font-weight: 600;
  font-size: 18px;
}

/* @media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
} */

@media screen and (max-width: 768px) {
  .project-img::after {
    opacity: 0
  }
  
}


@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / span 8;
    /* grid-column-end: 8; */
    grid-row: 1 / 1;
    height: 30rem;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }
  .project-info {
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

/*
  ===============
  Pages
  ===============
  */

  .blog-template,
  .projects-page,
  .blog-page,
  .error-page,
  .about-page,
  .contact-page {
    background: var(--clr-grey-10);
    min-height: calc(100vh - 5rem - 9rem);
    padding: 5rem 0;
  }

  .error-page {
    display: grid;
    place-items: center;
    background: var(--clr-primary-10);
    text-align: center;
  }
  .error-page h1 {
    text-transform: uppercase;
    color: var(--clr-primary-1);
    margin-bottom: 2rem;
  }

/*
  ===============
  Footer
  ===============
  */

  .footer {
    height: 9rem;
    background: var(--clr-dark-blue);
    text-align: center;
    display: grid;
    place-items: center;
  }

  .footer h4 {
    margin-top: 0.5rem;
    color: var(--clr-white);
    font-weight: normal;
    text-transform: uppercase;
  }

  .footer h4 span {
    color: var(--clr-white);
    font-weight: 900;
    margin: 0 10px;
  }

  .footer-links {
    margin: 0 auto 1rem auto;
  }

  .footer .social-link {
    color: var(--clr-white);
  }
  .footer .social-link:hover {
    color: var(--clr-primary-5);
  }

  /*
  ===============
  About Page
  ===============
  */

  .about-page {
    padding: 7rem 0;
  }

  .about-img {
    margin-bottom: 2rem;
    width: 25rem;
    border-radius: 10px;
    box-shadow: var(--light-shadow);
  }

  .about-text .section-title {
    margin-bottom: 2rem;
    text-align: left;
  }

  .about-text .underline {
    margin-left: 0;
    margin-right: 0;
  }

  .about-text p {
    line-height: 2;
  }

  .stack-container {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5rem;
  }

  .stack-container span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: var(--clr-yellow);
  }

  .stack-icon {
    color: var(--clr-primary-5);
    margin-right: 0.25rem;
    font-size: 1rem;
  }

  @media screen and (min-width: 992px) {
    .about-center {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      column-gap: 4rem;
    }
    .about-img {
      grid-column: 1 / span 5;
      margin-bottom: 0;
    }
    .about-text {
      grid-column: 6 / -1;
    }
  }

  @media screen and (max-width: 768px) {
    .about-center{
      display: grid;
      justify-items: center;
    }
    .about-img {
      width: 18rem;
    }
    
  }


  /*
  ===============
  Contact Page
  ===============
  */

  .contact{
    padding: 7rem 0;
    display: grid;
    align-content: center;
  }

  .contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
  }
  
  .contact-text{
    text-align: center;
    font-size: 1.5rem;
  }

  .contact-form {
    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    width: 90vw;
    max-width: 70rem;
    margin: 0 auto;
  }

  .contact-form:hover {
    box-shadow: var(--dark-shadow);
  }


  .contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 8rem 0;
}

.contact-container p{
  font-size: 1.5rem;
  color: var(--crl-black);
  font-weight: 900;
  margin-top: 1rem;
}

  .contact-link{
    font-size: 5rem;
    color: var(--clr-ligth-blue);
    cursor: pointer;
  }

  .contact-link:hover{
    color: var(--clr-dark-blue);
  }

  @media screen and (max-width: 768px) {
    
  .contact-container{
    grid-template-columns: auto;
    grid-gap: 1rem;
    padding: 2rem 0;
  }
  .contact-container p{
    font-size: 1rem;
  }
    
}


/*WHATSAPP BUTTON*/
    
.whatsapp-button{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  background-color: #25d366;
  border-radius: 50px;
  color: #ffffff;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  box-shadow: 0px 0px 25px -6px rgba(0,0,0,1);
  animation: effect 5s infinite ease-in;
}

@keyframes effect {
  20%, 100% {
      width: 50px;
      height: 50px;
      font-size: 30px;
  }
  0%, 10%{
      width: 55px;
      height: 55px;
      font-size: 35px;
  }
  5%{
      width: 50px;
      height: 50px;
      font-size: 30px;
  }
}